MPFS_DISCOVERY/
MPFS_DISCOVERY_I2C_LOOPBACK/
MPFS_DISCOVERY_SPI_LOOPBACK/
MPFS_DISCOVERY_Vectorblox/
MPFS_DISCOVERY_DRI_CCC_DEMO/
MPFS_DISCOVERY_MICRON_QSPI/
MPFS_DISCOVERY_MIV_RV32_CFG1/
MPFS_DISCOVERY_MIV_RV32_CFG2/
MPFS_DISCOVERY_MIV_RV32_CFG3/
MPFS_DISCOVERY_FIR_DEMO/
soc/
script_support/additional_configurations/smarthls/**/hls_output
script_support/additional_configurations/smarthls/**/component
MPFS_DISCOVERY_AXI4_STREAM_DEMO/
MPFS_DISCOVERY_AXI4_STREAM_DEMO_BFM/
MPFS_DISCOVERY_BFM_SIMULATION/
script_support/Unsupported_Cores_List.txt
script_support/components/MSS/
script_support/components/MSS_I2C_LOOPBACK/
script_support/components/MSS_SPI_LOOPBACK/
script_support/additional_configurations/I2C_LOOPBACK/DISCOVERY_MSS_I2C_LOOPBACK.cfg
script_support/additional_configurations/SPI_LOOPBACK/DISCOVERY_MSS_SPI_LOOPBACK.cfg
*.hex
*.job
*.digest
